/* // <uniquifier>: Use a unique and descriptive class name */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
h2,h1,h3 {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  }
body{
  font-family: "Noto Sans TC", sans-serif;
  background-color: #7ac2b0;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.navbar{
  background-color: #0b0b1f!important;
background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ !important;
}
.nav-item:nth-child(even){
  background-color:	#06061f;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  }
.nav-item:hover{
background-color: #2a6073;
background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
color: 	#000000 !important;
}